:root{
    /* Color */
    --color-white : #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #ffb1c1;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey:#7c7979;
    --color-blue: #73aace;
    --color-yellow:#fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;

    /* Font size */
    --font-large: 40px;
    --font-medium: 28px;
    --font-regular: 22px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold:700;
    --weight-semi-bold:600;
    --weight-regular:400;

    /* size */
    --size-border-radius: 4px;
    /* 
    font-family: 'Architects Daughter', cursive;
    font-family: 'Indie Flower', cursive; */
}
*{
    box-sizing: border-box;
}



body{
    width : 100%;
}
h1, h2{
    font-family: 'Architects Daughter', cursive; 
    padding-left: 10px;
}
p{
    font-family: 'Indie Flower', cursive;
    font-weight: var(--weight-semi-bold);
    font-size: var(--font-small);
}
a{
    text-decoration: none;
    font-family: 'Indie Flower', cursive;
    font-weight: var(--weight-semi-bold)
}
button{
    background-color:transparent;
    cursor:pointer;
    border:none;
    outline:none;   
}

#head{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffebee;
    color: #e7407e;
    padding : 20px;
    text-align: center;
    max-width: 1400px;
    margin: 0 auto;
    border-radius: 6px 6px 0 0;
    
}
#head img{
    width: 200px;
    
}
#navbar{
    position: relative;
    /* padding-inline-start: 0; */
    max-width: 1400px;
    margin: 0 auto;
    background-color: #ccb9bc;
    border-radius: 0 0 6px 6px;
    min-height: 80px;
    
}

.navbar__menu{
    display: flex;
    justify-content: space-around;
    margin-top: 0;
    padding: 30px;
    padding-inline-start: 0;
    transition: all 300ms ease-in;
}
#navbar li{
    list-style: none;
}

.navbar__toggle-btn{
    position: absolute;
    padding-top: 25px;
    left: 32px;
    font-size: 24px;
    color: #e7407e;
    display: none;
}

.navbar__menu__item a{
    color: white;
    
}

#main{
    max-width: 1000px;
    margin: 0 auto;
}
#main h1, h2{
    color: #391d62;
}
.first__section{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.summary{
    position: relative;
    padding: 17px;
    padding-left : 50px;
    border: 2px;
}
.summary h2{
    color: white;
    margin: 0;
}
.summary p{
    color: white;
    padding: 5px;
    padding-left: 10px;
    margin-top: 3px;
    margin-bottom: 0;
}
.first__section img{
    width: 100%;
    max-width: 1000px;
    border-radius: 10px;
    position: absolute;
}

.forcasts{
    display: flex;
    background-color: #ffebee;
    justify-content: space-around;
    padding: 20px;
    border-radius: 8px;
}
.forcasts__item{
    width: 75px;
    margin: 10px;
}
.forcasts p{
    text-align: center;
    color: #e7407e;
}
.last__section{
    display: flex;
    margin-top: 20px;
}
.article{
    text-align: center;
}
.article h2{
    padding-top: 60px;
}
.article p{
    margin: 45px;
    margin-top: 30px;
}
.temple-img{
    width: 30%;
    border-radius: 6px;
}
#footer{
    max-width: 1400px;
    background-color: #ffebee;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.information{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    padding: 20px;
}
.location__img{
    padding-top: 20px;
    width: 300px;
    grid-column: 2/3;
}
.contact{
    padding-left: 30px;
    grid-column: 3/5;
}
.contact p{
    padding-left: 20px;
}
.socials img{
    width: 40px;
    margin-left: 15px;
}
.date{
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Indie Flower', cursive;
    font-weight:var(--weight-semi-bold);
}

@media only screen and (max-width: 885px){
    main h2{
        text-align:center;
    }
    .navbar__menu{
        flex-direction: column;
        text-align: center;
        width: 100%;
        display:none;
    }
    .navbar__menu__item{
        padding-top: 10px;
    }
    .navbar__menu.open{
        display: block;
    }
    .navbar__toggle-btn{
        display: block;
    }
    .forcasts__item{
        width: 50px;
        margin: 5px;
    }
    .summary{
        padding: 0;
        padding-left :0;
        border: 0;
        margin-bottom: 30px;
    }
    .summary h2{
        font-size: var(--font-small);
    }
    .summary p{
        text-align: center;
        padding: 0;
        padding-left :0;
    }
    .socials img{
        margin-left: 8px;
        width: 20px;
    }
    .location__img{
        
        width: 200px;
        grid-column: 2/3;
    }
    
}

@media only screen and (max-width: 585px){
    
    .summary{
        position: relative;
    }
    .summary p{
        text-align: center;
        color: #e7407e;
    }
    .first__section img{
        position: relative;
    }
    .last__section{
        flex-direction: column;
    }
    .temple-img{
        margin: 0 auto;
    }
    .socials img{
        display: none;
    }
    .information{
        display:grid;
        grid-template-columns: 1fr;
        padding: 20px;
    }
    .location__img{
        grid-column: 1/2;
        grid-row: 2;
        margin: 0 auto;
    }
    .contact{
        grid-column: 1/2;
        grid-row: 1;
        margin: 0 auto;
    }
    .contact p{
        text-align: center;
        padding: 0;        
    }
    
}