/* Media Query for medium + screens */
@media only screen and (min-width: 32.5em) {
	.navigation {
		display: flex;
	}
	.navigation li:first-child {
		display: none;
	}
	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	.navigation li a {
		color: white;
	}
	
	.map{
        height: 12rem;
        width: 21rem;
        display: inline-block;
        margin-left: 1%;
	}
	.logo {
        padding: 0 0 0 8px;
        position: relative;
        background-color: #8d7f9c;
        border:rgb(71, 0, 119) 1px solid;
        border-radius: 15px;
        width: 165px;
        box-shadow: 5px 5px 5px #8c7e93;
        margin: 0px 50px 20px 20px;
	}
	.weathersum {
        border: 2px solid white;
        width: 52%;
        font-size: 12px;
        margin-left: 43;
        padding: 0%;
    }
    .wFont{
            font-size: 20px;
            font-family: -webkit-pictograph;
    }
    .cinfo{
        border: 1.5px dotted white;
        width: 39%;
        margin-right: 10%;
         position: relative;
         float: right;
         color:white;


     }
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}